<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.foody.recipe.RecipeMapper">

	<insert id="insert" parameterType="kr.co.foody.recipe.RecipeVO">
		INSERT INTO recipe (
			name, intro, type, time, tip, serving, regdate
		) VALUES (
			#{name}, #{intro}, #{type}, #{time}, #{tip}, #{serving}, NOW()
		)
	</insert>

</mapper>