<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.foody.recipe.IngredientMapper">
	
	<select id="large_cate" parameterType="int" resultType ="string">
		SELECT distinct name FROM ingre
		where large_cate = #{large_cate}
	</select>
	
	<select id="detail_cate" parameterType="string" resultType ="kr.co.foody.recipe.IngredientVO">
		select * from ingre
		where name= #{detail_cate}
	</select>
	
	<select id="nameSearch" resultType ="kr.co.foody.recipe.IngredientVO">
		select * from ingre
	</select>
	<!-- 알러지명 없이 조회 -->	
	<select id="ingreInfo" parameterType="int" resultType ="kr.co.foody.recipe.IngredientVO">
		select * from ingre where no = #{no}
	</select>
	<!-- 알러지명 같이 조회 -->
	<select id="ingreInfoWithName" parameterType="int" resultType ="kr.co.foody.recipe.IngredientVO">
		SELECT ingre.*, allergy.allergy allergyName
		FROM ingre, allergy
		WHERE ingre.allergy_no = allergy.no 
			AND ingre.no = #{no}
	</select>
	<!-- 재료정보 수정 -->
	<update id="updateIngre" parameterType="kr.co.foody.recipe.IngredientVO">
		UPDATE ingre
		SET
			allergy_no = #{allergy_no}
		    , name = #{name}
		    , carbo = #{carbo}
		    , protein = #{protein}
		    , fat = #{fat}
		    , large_cate = #{large_cate}
		    , detail = #{detail}
		    , print = #{print}
		WHERE no = #{no};
	</update>
	<!-- 재료정보 추가 -->
	<insert id="insertIngre" parameterType="kr.co.foody.recipe.IngredientVO">
		INSERT INTO ingre (allergy_no, name, carbo, protein, fat, large_cate, detail, print)
		VALUES (#{allergy_no}, #{name}, #{carbo}, #{protein}, #{fat}, #{large_cate}, #{detail}, #{print})
	</insert>
	<!-- 알러지명 리스트 -->
	<select id="allergyList" resultType="string">
		SELECT allergy FROM allergy ORDER BY no
	</select>
	
	
</mapper>