<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.foody.mypage.MypageMapper">
	
	<!-- 레시피 리스트 출력 -->
	<select id="myRecipe" parameterType="kr.co.foody.mypage.MypageVO" resultType="kr.co.foody.mypage.MypageVO">
		SELECT no,user_no,name,thumbnail,intro,time,
			(SELECT COUNT(bookmark) FROM feedback WHERE recipe_no=recipe.no) AS bookmark,
			(SELECT COUNT(*) FROM comment WHERE board_no=recipe.no AND tablename='recipe') AS comment_count
		FROM recipe 
		WHERE recipe.user_no=#{user_no} 
		AND recipe.print = 0
	    LIMIT ${startIdx}, ${pageRow}
	</select>
	<select id="myRecipeCount" resultType="int" parameterType="int">
		SELECT COUNT(*) FROM recipe
		WHERE recipe.user_no=#{user_no} 
		AND recipe.print = 0
	</select>
	
	
	<!-- 최근본 레시피 출력 -->
	<select id="recentRecipe" parameterType="kr.co.foody.mypage.MypageVO" resultType="kr.co.foody.mypage.MypageVO">
		SELECT a.no, b.user_no, a.name, a.intro, a.time, a.thumbnail, b.regdate,
			(SELECT COUNT(bookmark) FROM feedback WHERE recipe_no=a.no) AS bookmark,
			(SELECT COUNT(*) FROM comment WHERE board_no=a.no AND tablename='recipe') AS comment_count
		FROM recipe a left join recent b
			on a.no = b.recipe_no
		WHERE b.user_no = #{user_no}
		AND a.print = 0
	    LIMIT ${startIdx}, ${pageRow}
	</select>
	<select id="recentRecipeCount" resultType="int" parameterType="int">
		SELECT COUNT(*)
		FROM recipe AS a LEFT JOIN recent AS b
			ON a.no = b.recipe_no
		WHERE b.user_no = #{user_no}
		AND a.print = 0
	</select>
	
	<!-- 즐겨찾기 레시피 출력 -->
	<select id="likeRecipe" parameterType="kr.co.foody.mypage.MypageVO" resultType="kr.co.foody.mypage.MypageVO">
		SELECT a.no, a.name, a.intro, a.time, a.thumbnail, b.user_no,
			(SELECT COUNT(bookmark) FROM feedback WHERE recipe_no=a.no) AS bookmark,
			(SELECT COUNT(*) FROM comment WHERE board_no=a.no AND tablename='recipe') AS comment_count
		FROM recipe a LEFT JOIN feedback b
			ON a.no = b.recipe_no
		WHERE b.user_no = #{user_no}
		AND a.print = 0
	    LIMIT ${startIdx}, ${pageRow}
	</select>
	<select id="likeRecipeCount" resultType="int" parameterType="int">
		SELECT COUNT(*)
		FROM recipe a LEFT JOIN feedback b
			ON a.no = b.recipe_no
		WHERE b.user_no = #{user_no}
		AND a.print = 0
	</select>
	
	
	<!-- 유저의 알레르기 정보 출력 -->
	<select id="allergyList" parameterType="int" resultType="kr.co.foody.mypage.MypageVO">
		SELECT
			allergy
		FROM allergy AS a JOIN u_allergy AS ua
		ON a.no = ua.user_allergy
		WHERE ua.user_no=${user_no}
	</select>
	
	<!-- 유저의 선호음식 출력 -->
 	<select id="preferList" parameterType="int" resultType="kr.co.foody.mypage.MypageVO">
		SELECT prefer_food 
		FROM prefer 
		WHERE user_no=${user_no}
	</select>
	
	<!-- 회원 레시피 삭제 -->
	<update id="deleteRecipe" parameterType="int">
		UPDATE recipe SET print = 1 WHERE no=#{recipe_no}
	</update> 
	
	
	<!-- 회원이 작성한 레시피 수 -->
	<select id="userRecipeCount" parameterType="int" resultType="int">
		SELECT COUNT(no) AS urcount 
		FROM recipe 
		WHERE user_no = #{user_no} 
		AND print = 0
	</select>
	<!-- 회원이 받은 총 북마크 수 -->
	<select id="userBookmarkCount" parameterType="int" resultType="int">
		SELECT COUNT(bookmark) AS ubcount 
		FROM feedback 
		WHERE user_no = #{user_no} 
	</select>
	<!-- 회원의 레시피가 받은 조회수 -->
	<select id="userTotalViewCount" parameterType="int" resultType="int">
		SELECT SUM(viewcount) AS utvcount 
		FROM recipe 
		WHERE user_no = #{user_no} 
		AND print = 0
	</select>
	<!-- 회원의 레시피가 받은 댓글수 -->
	<select id="userCommentCount" parameterType="int" resultType="int">
		SELECT SUM(
			(SELECT COUNT(board_no) 
				FROM comment 
			WHERE board_no = recipe.no)) AS uccount 
		FROM recipe 
		WHERE user_no = #{user_no}
		AND print = 0
	</select>
		
		
		
	
		
	
	

</mapper>





